
---

apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: (devel)
  creationTimestamp: null
  name: ipamblocks.network.qingcloud.com
spec:
  group: network.qingcloud.com
  names:
    kind: IPAMBlock
    listKind: IPAMBlockList
    plural: ipamblocks
    singular: ipamblock
  scope: Cluster
  versions:
    - name: v1alpha1
      schema:
        openAPIV3Schema:
          properties:
            apiVersion:
              description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
              type: string
            kind:
              description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
              type: string
            metadata:
              type: object
            spec:
              description: Specification of the IPAMBlock.
              properties:
                allocations:
                  description: 'TODO: https://github.com/kubernetes-sigs/controller-tools/issues/461'
                  items:
                    nullable: true
                    type: integer
                  type: array
                attributes:
                  items:
                    properties:
                      handle_id:
                        type: string
                      secondary:
                        additionalProperties:
                          type: string
                        type: object
                    type: object
                  type: array
                cidr:
                  type: string
                deleted:
                  type: boolean
                id:
                  format: int32
                  type: integer
                unallocated:
                  items:
                    type: integer
                  type: array
              required:
                - attributes
                - cidr
                - deleted
                - id
                - unallocated
              type: object
          type: object
      served: true
      storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []

---

apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: (devel)
  creationTimestamp: null
  name: ipamhandles.network.qingcloud.com
spec:
  group: network.qingcloud.com
  names:
    kind: IPAMHandle
    listKind: IPAMHandleList
    plural: ipamhandles
    singular: ipamhandle
  scope: Cluster
  versions:
    - name: v1alpha1
      schema:
        openAPIV3Schema:
          properties:
            apiVersion:
              description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
              type: string
            kind:
              description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
              type: string
            metadata:
              type: object
            spec:
              description: Specification of the IPAMHandle.
              properties:
                block:
                  additionalProperties:
                    type: integer
                  type: object
                deleted:
                  type: boolean
                handleID:
                  type: string
              required:
                - block
                - deleted
                - handleID
              type: object
          type: object
      served: true
      storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []

---

apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: (devel)
  creationTimestamp: null
  name: ippools.network.qingcloud.com
spec:
  group: network.qingcloud.com
  names:
    kind: IPPool
    listKind: IPPoolList
    plural: ippools
    singular: ippool
  scope: Cluster
  versions:
    - name: v1alpha1
      schema:
        openAPIV3Schema:
          properties:
            apiVersion:
              description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
              type: string
            kind:
              description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
              type: string
            metadata:
              type: object
            spec:
              properties:
                blockSize:
                  description: The block size to use for IP address assignments from
                    this pool. Defaults to 26 for IPv4 and 112 for IPv6.
                  type: integer
                cidr:
                  description: The pool CIDR.
                  type: string
                disabled:
                  description: When disabled is true, IPAM will not assign addresses
                    from this pool.
                  type: boolean
                dns:
                  description: DNS contains values interesting for DNS resolvers
                  properties:
                    domain:
                      type: string
                    nameservers:
                      items:
                        type: string
                      type: array
                    options:
                      items:
                        type: string
                      type: array
                    search:
                      items:
                        type: string
                      type: array
                  type: object
                gateway:
                  type: string
                rangeEnd:
                  description: The last ip, inclusive
                  type: string
                rangeStart:
                  description: The first ip, inclusive
                  type: string
                routes:
                  items:
                    properties:
                      dst:
                        type: string
                      gateway:
                        type: string
                    type: object
                  type: array
                type:
                  type: string
                vlanConfig:
                  properties:
                    master:
                      type: string
                    vlanId:
                      format: int32
                      type: integer
                  required:
                    - master
                    - vlanId
                  type: object
              required:
                - cidr
                - type
              type: object
            status:
              properties:
                allocations:
                  type: integer
                capacity:
                  type: integer
                reserved:
                  type: integer
                synced:
                  type: boolean
                unallocated:
                  type: integer
                workspaces:
                  additionalProperties:
                    properties:
                      allocations:
                        type: integer
                    required:
                      - allocations
                    type: object
                  type: object
              required:
                - allocations
                - capacity
                - unallocated
              type: object
          type: object
      served: true
      storage: true
      subresources:
        status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []

---

apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: (devel)
  creationTimestamp: null
  name: vxnetpools.network.qingcloud.com
spec:
  group: network.qingcloud.com
  names:
    kind: VxNetPool
    listKind: VxNetPoolList
    plural: vxnetpools
    singular: vxnetpool
  scope: Cluster
  versions:
    - name: v1alpha1
      schema:
        openAPIV3Schema:
          description: VxNetPool is a specification for a VxNetPool resource
          properties:
            apiVersion:
              description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
              type: string
            kind:
              description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
              type: string
            metadata:
              type: object
            spec:
              description: VxNetPoolSpec is the spec for a VxNetPool resource
              properties:
                blockSize:
                  description: The block size to use for IP address assignments from
                    this pool. Defaults to 26 for IPv4 and 112 for IPv6.
                  type: integer
                vxnets:
                  description: vxnets in VxNetPool
                  items:
                    properties:
                      name:
                        type: string
                    required:
                      - name
                    type: object
                  type: array
              required:
                - blockSize
                - vxnets
              type: object
            status:
              description: VxNetPoolStatus is the status for a VxNetPool resource
              properties:
                message:
                  type: string
                pools:
                  items:
                    properties:
                      ippool:
                        type: string
                      name:
                        type: string
                      subnets:
                        items:
                          type: string
                        type: array
                    required:
                      - ippool
                      - name
                    type: object
                  type: array
                process:
                  type: string
                ready:
                  type: boolean
              type: object
          required:
            - spec
          type: object
      served: true
      storage: true
      subresources:
        status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []

---

apiVersion: v1
kind: ServiceAccount
metadata:
  name: hostnic-node
  namespace: kube-system

---

apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: hostnic-node
rules:
  - apiGroups:
      - ""
    resources:
      - pods
      - nodes
      - configmaps
      - namespaces
    verbs:
      - list
      - watch
      - get
      - update
      - patch
  - apiGroups:
      - extensions
    resources:
      - daemonsets
    verbs:
      - list
      - watch
  - apiGroups:
      - network.qingcloud.com
    resources:
      - '*'
    verbs:
      - '*'
  - apiGroups:
      - ""
    resources:
      - events
    verbs:
      - '*'

---

apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: hostnic-node
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: hostnic-node
subjects:
  - kind: ServiceAccount
    name: hostnic-node
    namespace: kube-system

---

apiVersion: v1
data:
  hostnic: |
    {
      "pool":{
        "poolHigh":5,
        "poolLow":3,
        "maxNic":60
      }
    }
  hostnic-cni: |
    {
      "cniVersion": "0.3.0",
      "name": "hostnic",
      "type": "hostnic",
      "serviceCIDR" : "10.233.0.0/18",
      "hairpin": false,
      "natMark": "0x10000"
    }
kind: ConfigMap
metadata:
  name: hostnic-cfg-cm
  namespace: kube-system

---

apiVersion: apps/v1
kind: DaemonSet
metadata:
  labels:
    app: hostnic-node
  name: hostnic-node
  namespace: kube-system
spec:
  selector:
    matchLabels:
      app: hostnic-node
  template:
    metadata:
      annotations:
        scheduler.alpha.kubernetes.io/critical-pod: ""
      labels:
        app: hostnic-node
    spec:
      containers:
        - command:
            - /app/hostnic-agent
            - --v=5
            - --log_file=/var/run/hostnic/agent.log
          env:
            - name: MY_NODE_NAME
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: spec.nodeName
            - name: WATCH_NAMESPACE
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: metadata.namespace
          image: cumirror/hostnic-plus:20210706-1021
          imagePullPolicy: IfNotPresent
          name: hostnic-node
          ports:
            - containerPort: 61678
              hostPort: 61678
              name: metrics
              protocol: TCP
          resources:
            requests:
              cpu: 100m
          securityContext:
            privileged: true
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          volumeMounts:
            - mountPath: /opt/cni/bin
              name: cni-bin-dir
            - mountPath: /etc/cni/net.d
              name: cni-net-dir
            - mountPath: /etc/hostnic/
              name: hostnic-cfg
            - mountPath: /var/lib/hostnic
              name: hostnic-db
            - mountPath: /var/run/hostnic
              name: hostnic-run
            - mountPath: /root/.qingcloud/
              name: apiaccesskey
              readOnly: true
            - mountPath: /etc/qingcloud/
              name: qingcloud-cfg
              readOnly: true
      dnsPolicy: ClusterFirst
      hostNetwork: true
      initContainers:
        - args:
            - /app/install_hostnic.sh
          command:
            - /bin/sh
          image: cumirror/hostnic-plus:20210706-1021
          imagePullPolicy: IfNotPresent
          name: hostnic-init
          resources: {}
          securityContext:
            privileged: true
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          volumeMounts:
            - mountPath: /opt/cni/bin
              name: cni-bin-dir
            - mountPath: /etc/cni/net.d
              name: cni-net-dir
            - mountPath: /etc/hostnic/
              name: hostnic-cfg
      priorityClassName: system-node-critical
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      serviceAccount: hostnic-node
      serviceAccountName: hostnic-node
      tolerations:
        - operator: Exists
      volumes:
        - hostPath:
            path: /opt/cni/bin
          name: cni-bin-dir
        - hostPath:
            path: /etc/cni/net.d
          name: cni-net-dir
        - hostPath:
            path: /var/lib/hostnic
          name: hostnic-db
        - hostPath:
            path: /var/run/hostnic
          name: hostnic-run
        - configMap:
            items:
              - key: hostnic
                path: hostnic.json
              - key: hostnic-cni
                path: 10-hostnic.conf
            name: hostnic-cfg-cm
          name: hostnic-cfg
        - name: apiaccesskey
          secret:
            items:
              - key: config.yaml
                path: config.yaml
            secretName: qcsecret
        - hostPath:
            path: /etc/qingcloud
          name: qingcloud-cfg
  updateStrategy:
    type: RollingUpdate

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: hostnic-controller
  namespace: kube-system
spec:
  selector:
    matchLabels:
      app: hostnic-controller
  replicas: 1
  template:
    metadata:
      labels:
        app: hostnic-controller
    spec:
      containers:
        - name: hostnic-controller
          image: cumirror/hostnic-plus:20210706-1021
          command:
            - /app/hostnic-controller
            - --v=5
            - --log_file=/var/run/hostnic/controller.log
            - --vxnet-pool=v-pool
          volumeMounts:
            - mountPath: /root/.qingcloud/
              name: apiaccesskey
              readOnly: true
            - mountPath: /etc/qingcloud/
              name: qingcloud-cfg
              readOnly: true
            - mountPath: /var/run/hostnic
              name: hostnic-run
      serviceAccount: hostnic-node
      serviceAccountName: hostnic-node
      hostNetwork: true
      volumes:
        - name: apiaccesskey
          secret:
            items:
              - key: config.yaml
                path: config.yaml
            secretName: qcsecret
        - hostPath:
            path: /etc/qingcloud
          name: qingcloud-cfg
        - hostPath:
            path: /var/run/hostnic
          name: hostnic-run

---

apiVersion: v1
stringData:
  config.yaml: |-
    qy_access_key_id: 'qy_access_key_id'
    qy_secret_access_key: 'qy_secret_access_key'
    host: 'api.qingcloud.com'
    port: 443
    protocol: 'https'
    # your instance zone
    zone: "pek3"
kind: Secret
metadata:
  name: qcsecret
  namespace: kube-system
type: Opaque

